
@{
    Layout = null;
}

   <h3>Mvc Kamp Tablo Örnek-Kategori</h3>
<br />
<table>
   <tr>
       <th> ID</th>
       <th> Adı</th>
       <th>Açıklama</th>
       <th>Durum</th>
   </tr>
    <tr>
        <td>1</td>
        <td>eĞİTİM</td>
        <td>Açılama Yaptık</td>
        <td>Açılama Yaptık</td>

    </tr>
    <tr>
        <td></td>
    </tr>

</table>

